<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19262628422-to9vgdku6t1bto1nc9tn5f899hss451t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19262628422-to9vgdku6t1bto1nc9tn5f899hss451t</string>
	<key>API_KEY</key>
	<string>AIzaSyAjBLkKf5MBAvCl59_hyDBFv4Mt0W_2nDk</string>
	<key>GCM_SENDER_ID</key>
	<string>19262628422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xChat.xChat</string>
	<key>PROJECT_ID</key>
	<string>xchat-46655</string>
	<key>STORAGE_BUCKET</key>
	<string>xchat-46655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19262628422:ios:92086b9decdf5ec6bd6047</string>
	<key>DATABASE_URL</key>
	<string>https://xchat-46655.firebaseio.com</string>
</dict>
</plist>